In [3]:
import os
from openai import AzureOpenAI

client = AzureOpenAI(
    api_version=os.getenv("AZURE_OPENAI_API_VERSION"),
    azure_endpoint=os.getenv("AZURE_OPENAI_ENDPOINT"),
    api_key=os.getenv("AZURE_OPENAI_API_KEY")
)

In [6]:
# test query completion

response = client.chat.completions.create(
    model="o4-mini",
    messages=[
        {"role": "system", "content": "You are an AI assistant that writes SQL queries."},
        {"role": "user", "content": "Write a SQL query to select all users from the users table."}
    ]
)
print(response.choices[0].message.content)

Here’s a simple query to fetch all rows from the users table:

SELECT *
FROM users;

In [27]:
def evaluate_sql_generation(input_text, llm_output, client, deployment_name):
    """
    Evaluates if the LLM output is a correct SQL query for the given input using an LLM prompt.
    Returns a JSON with isCorrect, errorType, and errorExplanation fields.
    """
    prompt = (
    "You are an expert SQL evaluator. Your job is to judge whether a SQL query correctly answers a given natural language request.\n\n"
    "You will be given:\n"
    "- A natural language question (user's intent)\n"
    "- A SQL query generated by an LLM\n\n"
    "Your task is to evaluate ONLY whether the SQL query is a correct and complete answer to the question.\n\n"
    "Return your judgment in exactly one of the two following JSON formats:\n"
    '1. If the SQL query is correct and complete:\n'
    '   {"isCorrect": true, "errorType": null, "errorExplanation": null}\n'
    '2. If the SQL query is incorrect:\n'
    '   {"isCorrect": false, "errorType": "<incomplete|irrelevant|logic_error>", "errorExplanation": "<short explanation>"}\n\n'
    "**Return ONLY the JSON object. Do not add any explanation, comments, or formatting.**\n\n"
    f"Natural language question: {input_text}\n"
    f"SQL query: {llm_output}"
)
    response = client.chat.completions.create(
        model=deployment_name,
        messages=[
            {"role": "system", "content": prompt}
        ]
    )
    result = response.choices[0].message.content.strip()
    return result

In [28]:
# Example that should return false
wrong_input = "List all users in the database."
wrong_llm_output = "SELECT name FROM products;"

eval_result_false = evaluate_sql_generation(
    input_text=wrong_input,
    llm_output=wrong_llm_output,
    client=client,
    deployment_name="o4-mini"
)
print("Wrong output result:", eval_result_false)

# Example that should return true
correct_input = "List all users in the database."
correct_llm_output = "SELECT * FROM users;"

eval_result_true = evaluate_sql_generation(
    input_text=correct_input,
    llm_output=correct_llm_output,
    client=client,
    deployment_name="o4-mini"
)
print("Correct output result:", eval_result_true)

Wrong output result: {"isCorrect": false, "errorType": "irrelevant", "errorExplanation": "Selects from products instead of users table"}
Correct output result: {"isCorrect": true, "errorType": null, "errorExplanation": null}
Correct output result: {"isCorrect": true, "errorType": null, "errorExplanation": null}

In [ ]:
from datasets import load_dataset

ds = load_dataset("gretelai/synthetic_text_to_sql")
eval_set = ds["test"]

# Example: iterate over the evaluation set and print the first 3 items
for i, item in enumerate(eval_set):
    print(f"Example {i+1}:")
    print("Prompt:", item["sql_prompt"])
    print("Reference SQL:", item["sql"])
    if i >= 2:
        break

Example 1:
Prompt: What is the average explainability score of creative AI applications in 'Europe' and 'North America' in the 'creative_ai' table?
Reference SQL: SELECT AVG(explainability_score) FROM creative_ai WHERE region IN ('Europe', 'North America');
Example 2:
Prompt: Delete all records of rural infrastructure projects in Indonesia that have a completion date before 2010.
Reference SQL: DELETE FROM rural_infrastructure WHERE country = 'Indonesia' AND completion_date < '2010-01-01';
Example 3:
Prompt: How many accidents have been recorded for SpaceX and Blue Origin rocket launches?
Reference SQL: SELECT launch_provider, COUNT(*) FROM Accidents GROUP BY launch_provider;

In [29]:
from transformers import pipeline
import torch

# Detect device for best performance (CPU, MPS for Apple Silicon, or CUDA for GPU)
if torch.cuda.is_available():
    device = 0  # CUDA device
elif torch.backends.mps.is_available():
    device = "mps"  # Apple Silicon (M1/M2)
else:
    device = -1  # CPU

generator = pipeline(
    "text-generation",
    model="thiborose/SmolLM2-FT-SQL",
    device=device,
)

Device set to use mps

In [30]:
def generate_sql_with_pipeline(prompt, generator):
    output = generator(
        [{"role": "user", "content": prompt}],
        max_new_tokens=128,
        return_full_text=False,
    )[0]
    return output["generated_text"].strip()


def evaluate_eval_set_with_pipeline(eval_set, generator, client, deployment_name, max_examples=5):
    results = []
    for i, item in enumerate(eval_set):
        prompt = item["sql_prompt"]
        generated_sql = generate_sql_with_pipeline(prompt, generator)
        eval_result = evaluate_sql_generation(
            input_text=prompt,
            llm_output=generated_sql,
            client=client,
            deployment_name=deployment_name
        )
        results.append({
            "prompt": prompt,
            "generated_sql": generated_sql,
            "reference_sql": item["sql"],
            "evaluation": eval_result
        })
        print(f"Example {i+1} | Prompt: {prompt}\nGenerated SQL: {generated_sql}\nReference SQL: {item['sql']}\nEvaluation: {eval_result}\n---")
        if i + 1 >= max_examples:
            break
    return results

In [31]:
# quick test with the first 5 examples from the evaluation set
pipeline_results = evaluate_eval_set_with_pipeline(eval_set, generator, client, deployment_name="o4-mini", max_examples=5)

Example 1 | Prompt: What is the average explainability score of creative AI applications in 'Europe' and 'North America' in the 'creative_ai' table?
Generated SQL: SELECT AVG(scoring) FROM creative_ai WHERE country IN ('Europe', 'North America') AND app_type = 'Creative AI' AND app_name IN ('AI Chatbot', 'AI Recommendation Engine', 'AI Chatbot Language Translation', 'AI Chatbot Text Summarization', 'AI Support Vector Machine');
Reference SQL: SELECT AVG(explainability_score) FROM creative_ai WHERE region IN ('Europe', 'North America');
Evaluation: {"isCorrect": false, "errorType": "logic_error", "errorExplanation": "The query unnecessarily filters by specific app_name and app_type and does not compute separate averages for each region"}
---
Example 2 | Prompt: Delete all records of rural infrastructure projects in Indonesia that have a completion date before 2010.
Generated SQL: DELETE FROM infrastructure_projects WHERE country = 'Indonesia' AND completion_date < 2010;
Reference SQL: DELETE FROM rural_infrastructure WHERE country = 'Indonesia' AND completion_date < '2010-01-01';
Evaluation: {"isCorrect": false, "errorType": "incomplete", "errorExplanation": "Missing filter for rural projects"}
---
Example 2 | Prompt: Delete all records of rural infrastructure projects in Indonesia that have a completion date before 2010.
Generated SQL: DELETE FROM infrastructure_projects WHERE country = 'Indonesia' AND completion_date < 2010;
Reference SQL: DELETE FROM rural_infrastructure WHERE country = 'Indonesia' AND completion_date < '2010-01-01';
Evaluation: {"isCorrect": false, "errorType": "incomplete", "errorExplanation": "Missing filter for rural projects"}
---
Example 3 | Prompt: How many accidents have been recorded for SpaceX and Blue Origin rocket launches?
Generated SQL: SELECT COUNT(*) FROM accidents WHERE launch_type IN ('SpaceX', 'Blue Origin');
Reference SQL: SELECT launch_provider, COUNT(*) FROM Accidents GROUP BY launch_provider;
Evaluation: {"isCorrect": true, "errorType": null, "errorExplanation": null}
---
Example 3 | Prompt: How many accidents have been recorded for SpaceX and Blue Origin rocket launches?
Generated SQL: SELECT COUNT(*) FROM accidents WHERE launch_type IN ('SpaceX', 'Blue Origin');
Reference SQL: SELECT launch_provider, COUNT(*) FROM Accidents GROUP BY launch_provider;
Evaluation: {"isCorrect": true, "errorType": null, "errorExplanation": null}
---
Example 4 | Prompt: What is the maximum quantity of seafood sold in a single transaction?
Generated SQL: SELECT MAX(quantity) FROM seafood_sales;
Reference SQL: SELECT MAX(quantity) FROM sales;
Evaluation: {"isCorrect": true, "errorType": null, "errorExplanation": null}
---
Example 4 | Prompt: What is the maximum quantity of seafood sold in a single transaction?
Generated SQL: SELECT MAX(quantity) FROM seafood_sales;
Reference SQL: SELECT MAX(quantity) FROM sales;
Evaluation: {"isCorrect": true, "errorType": null, "errorExplanation": null}
---
Example 5 | Prompt: What is the total budget for movies released before 2010?
Generated SQL: SELECT SUM(budget) FROM movies WHERE released < '2010-01-01';
Reference SQL: SELECT SUM(budget) FROM Movies_Release_Year WHERE release_year < 2010;
Evaluation: {"isCorrect": true, "errorType": null, "errorExplanation": null}
---
Example 5 | Prompt: What is the total budget for movies released before 2010?
Generated SQL: SELECT SUM(budget) FROM movies WHERE released < '2010-01-01';
Reference SQL: SELECT SUM(budget) FROM Movies_Release_Year WHERE release_year < 2010;
Evaluation: {"isCorrect": true, "errorType": null, "errorExplanation": null}
---

In [ ]:
# now on the whole evaluation set
pipeline_results_full = evaluate_eval_set_with_pipeline(eval_set, generator, client, deployment_name="o4-mini", max_examples=len(eval_set))

Example 1 | Prompt: What is the average explainability score of creative AI applications in 'Europe' and 'North America' in the 'creative_ai' table?
Generated SQL: SELECT AVG(explainability_score) FROM creative_ai WHERE region = 'Europe' AND region = 'North America'
Reference SQL: SELECT AVG(explainability_score) FROM creative_ai WHERE region IN ('Europe', 'North America');
Evaluation: {"isCorrect":false,"errorType":"logic_error","errorExplanation":"Filtering on region uses AND instead of OR or IN, resulting in no rows returned"}
---
Example 2 | Prompt: Delete all records of rural infrastructure projects in Indonesia that have a completion date before 2010.
Generated SQL: DELETE FROM infrastructure WHERE country = 'Indonesia' AND completion_date < '2010-01-01';
Reference SQL: DELETE FROM rural_infrastructure WHERE country = 'Indonesia' AND completion_date < '2010-01-01';
Evaluation: {"isCorrect": false, "errorType": "incomplete", "errorExplanation": "Missing filter for rural infrastructure projects"}
---
Example 2 | Prompt: Delete all records of rural infrastructure projects in Indonesia that have a completion date before 2010.
Generated SQL: DELETE FROM infrastructure WHERE country = 'Indonesia' AND completion_date < '2010-01-01';
Reference SQL: DELETE FROM rural_infrastructure WHERE country = 'Indonesia' AND completion_date < '2010-01-01';
Evaluation: {"isCorrect": false, "errorType": "incomplete", "errorExplanation": "Missing filter for rural infrastructure projects"}
---
Example 3 | Prompt: How many accidents have been recorded for SpaceX and Blue Origin rocket launches?
Generated SQL: SELECT COUNT(*) FROM accidents WHERE launch_type = 'SpaceX' AND launch_date BETWEEN '2021-01-01' AND '2021-12-31';
Reference SQL: SELECT launch_provider, COUNT(*) FROM Accidents GROUP BY launch_provider;
Evaluation: {"isCorrect": false, "errorType": "incomplete", "errorExplanation": "The query only counts SpaceX accidents for 2021 and omits Blue Origin and other time periods."}
---
Example 3 | Prompt: How many accidents have been recorded for SpaceX and Blue Origin rocket launches?
Generated SQL: SELECT COUNT(*) FROM accidents WHERE launch_type = 'SpaceX' AND launch_date BETWEEN '2021-01-01' AND '2021-12-31';
Reference SQL: SELECT launch_provider, COUNT(*) FROM Accidents GROUP BY launch_provider;
Evaluation: {"isCorrect": false, "errorType": "incomplete", "errorExplanation": "The query only counts SpaceX accidents for 2021 and omits Blue Origin and other time periods."}
---
Example 4 | Prompt: What is the maximum quantity of seafood sold in a single transaction?
Generated SQL: SELECT MAX(quantity) FROM transactions;
Reference SQL: SELECT MAX(quantity) FROM sales;
Evaluation: {"isCorrect": false, "errorType": "logic_error", "errorExplanation": "Missing filter to restrict transactions to seafood items"}
---
Example 4 | Prompt: What is the maximum quantity of seafood sold in a single transaction?
Generated SQL: SELECT MAX(quantity) FROM transactions;
Reference SQL: SELECT MAX(quantity) FROM sales;
Evaluation: {"isCorrect": false, "errorType": "logic_error", "errorExplanation": "Missing filter to restrict transactions to seafood items"}
---
Example 5 | Prompt: What is the total budget for movies released before 2010?
Generated SQL: SELECT SUM(budget) FROM movie_budget WHERE release_year < 2010;
Reference SQL: SELECT SUM(budget) FROM Movies_Release_Year WHERE release_year < 2010;
Evaluation: {"isCorrect": true, "errorType": null, "errorExplanation": null}
---
Example 5 | Prompt: What is the total budget for movies released before 2010?
Generated SQL: SELECT SUM(budget) FROM movie_budget WHERE release_year < 2010;
Reference SQL: SELECT SUM(budget) FROM Movies_Release_Year WHERE release_year < 2010;
Evaluation: {"isCorrect": true, "errorType": null, "errorExplanation": null}
---
Example 6 | Prompt: Add a new attorney named 'Oliver Martinez' with email 'oliver.martinez@lawfirm.com' and phone '555-555-5678' to the 'attorneys' table
Generated SQL: INSERT INTO attorneys (id, name, email, phone) VALUES (1, 'Oliver Martinez', 'oliver.martinez@lawfirm.com', '555-555-5678');
Reference SQL: INSERT INTO attorneys (attorney_name, attorney_email, attorney_phone) VALUES ('Oliver Martinez', 'oliver.martinez@lawfirm.com', '555-555-5678');
Evaluation: {"isCorrect": false, "errorType": "logic_error", "errorExplanation": "The query incorrectly specifies a fixed id value; id is typically auto-generated and should be omitted"}
---
Example 6 | Prompt: Add a new attorney named 'Oliver Martinez' with email 'oliver.martinez@lawfirm.com' and phone '555-555-5678' to the 'attorneys' table
Generated SQL: INSERT INTO attorneys (id, name, email, phone) VALUES (1, 'Oliver Martinez', 'oliver.martinez@lawfirm.com', '555-555-5678');
Reference SQL: INSERT INTO attorneys (attorney_name, attorney_email, attorney_phone) VALUES ('Oliver Martinez', 'oliver.martinez@lawfirm.com', '555-555-5678');
Evaluation: {"isCorrect": false, "errorType": "logic_error", "errorExplanation": "The query incorrectly specifies a fixed id value; id is typically auto-generated and should be omitted"}
---
Example 7 | Prompt: Identify the top 2 plants with the highest CO2 emissions per ton produced.
Generated SQL: SELECT plant_name, COUNT(*) as CO2_emissions_per_ton FROM CarbonEmissions GROUP BY plant_name ORDER BY CO2_emissions_per_ton DESC LIMIT 2;
Reference SQL: SELECT plant_name, SUM(co2_emission_per_ton_produced) AS total_co2_emission FROM co2_emissions GROUP BY plant_name ORDER BY total_co2_emission DESC LIMIT 2;
Evaluation: {"isCorrect": false, "errorType": "logic_error", "errorExplanation": "uses COUNT(*) instead of calculating emissions per ton by dividing total emissions by total production"}
---
Example 7 | Prompt: Identify the top 2 plants with the highest CO2 emissions per ton produced.
Generated SQL: SELECT plant_name, COUNT(*) as CO2_emissions_per_ton FROM CarbonEmissions GROUP BY plant_name ORDER BY CO2_emissions_per_ton DESC LIMIT 2;
Reference SQL: SELECT plant_name, SUM(co2_emission_per_ton_produced) AS total_co2_emission FROM co2_emissions GROUP BY plant_name ORDER BY total_co2_emission DESC LIMIT 2;
Evaluation: {"isCorrect": false, "errorType": "logic_error", "errorExplanation": "uses COUNT(*) instead of calculating emissions per ton by dividing total emissions by total production"}
---
Example 8 | Prompt: What is the total cost of all climate communication projects that ended after 2010 in 'Antarctica'?
Generated SQL: SELECT SUM(cost) FROM climate_communication_projects WHERE end_date > '2010-01-01';
Reference SQL: SELECT SUM(total_cost) FROM climate_communication WHERE location = 'Antarctica' AND end_date >= '2010-12-31';
Evaluation: {"isCorrect": false, "errorType": "logic_error", "errorExplanation": "Missing filter for Antarctica and incorrect date boundary for projects ending after 2010"}
---
Example 8 | Prompt: What is the total cost of all climate communication projects that ended after 2010 in 'Antarctica'?
Generated SQL: SELECT SUM(cost) FROM climate_communication_projects WHERE end_date > '2010-01-01';
Reference SQL: SELECT SUM(total_cost) FROM climate_communication WHERE location = 'Antarctica' AND end_date >= '2010-12-31';
Evaluation: {"isCorrect": false, "errorType": "logic_error", "errorExplanation": "Missing filter for Antarctica and incorrect date boundary for projects ending after 2010"}
---
Example 9 | Prompt: List all marine species with their conservation status.
Generated SQL: SELECT species, conservation_status FROM marine_species;
Reference SQL: SELECT name, conservation_status FROM marine_species;
Evaluation: {"isCorrect": true, "errorType": null, "errorExplanation": null}
---
Example 9 | Prompt: List all marine species with their conservation status.
Generated SQL: SELECT species, conservation_status FROM marine_species;
Reference SQL: SELECT name, conservation_status FROM marine_species;
Evaluation: {"isCorrect": true, "errorType": null, "errorExplanation": null}
---
Example 10 | Prompt: What is the average number of publications per researcher for researchers working at the 'National Geographic' organization?
Generated SQL: SELECT AVG(COUNT(*)) FROM researchers WHERE organization = 'National Geographic';
Reference SQL: SELECT organization, AVG(publications) as avg_publications FROM researchers WHERE organization = 'National Geographic';
Evaluation: {"isCorrect": false, "errorType": "logic_error", "errorExplanation": "Query does not join publications table or group by researcher; AVG(COUNT(*)) is invalid"}
---
Example 10 | Prompt: What is the average number of publications per researcher for researchers working at the 'National Geographic' organization?
Generated SQL: SELECT AVG(COUNT(*)) FROM researchers WHERE organization = 'National Geographic';
Reference SQL: SELECT organization, AVG(publications) as avg_publications FROM researchers WHERE organization = 'National Geographic';
Evaluation: {"isCorrect": false, "errorType": "logic_error", "errorExplanation": "Query does not join publications table or group by researcher; AVG(COUNT(*)) is invalid"}
---
Example 11 | Prompt: How many decentralized applications have been downloaded from the 'Asia-Pacific' region?
Generated SQL: SELECT COUNT(*) FROM DecentralizedApplications WHERE region = 'Asia-Pacific';
Reference SQL: SELECT SUM(dapp_downloads) FROM dapp_ranking WHERE dapp_region = 'Asia-Pacific';
Evaluation: {"isCorrect":false,"errorType":"logic_error","errorExplanation":"Counts applications in region instead of downloads from that region"}
---
Example 11 | Prompt: How many decentralized applications have been downloaded from the 'Asia-Pacific' region?
Generated SQL: SELECT COUNT(*) FROM DecentralizedApplications WHERE region = 'Asia-Pacific';
Reference SQL: SELECT SUM(dapp_downloads) FROM dapp_ranking WHERE dapp_region = 'Asia-Pacific';
Evaluation: {"isCorrect":false,"errorType":"logic_error","errorExplanation":"Counts applications in region instead of downloads from that region"}
---
Example 12 | Prompt: Identify forests in Canada or the United States with an area larger than 1 million hectares?
Generated SQL: SELECT c.name FROM forests c INNER JOIN countries c_countries ON c.country = c_countries.country WHERE c.type = 'forests' AND c_countries.country IN ('Canada', 'United States');
Reference SQL: SELECT forests.name FROM forests WHERE (forests.country = 'Canada' OR forests.country = 'USA') AND forests.hectares > 1000000;
Evaluation: {"isCorrect": false, "errorType": "incomplete", "errorExplanation": "Missing filter for area > 1 million hectares"}
---
Example 12 | Prompt: Identify forests in Canada or the United States with an area larger than 1 million hectares?
Generated SQL: SELECT c.name FROM forests c INNER JOIN countries c_countries ON c.country = c_countries.country WHERE c.type = 'forests' AND c_countries.country IN ('Canada', 'United States');
Reference SQL: SELECT forests.name FROM forests WHERE (forests.country = 'Canada' OR forests.country = 'USA') AND forests.hectares > 1000000;
Evaluation: {"isCorrect": false, "errorType": "incomplete", "errorExplanation": "Missing filter for area > 1 million hectares"}
---
Example 13 | Prompt: What is the maximum response time for emergency calls in the city of Los Angeles?
Generated SQL: SELECT MAX(response_time) FROM Emergency_Calls WHERE city = 'Los Angeles';
Reference SQL: SELECT MAX(response_time) FROM emergency_calls WHERE city = 'Los Angeles';
Evaluation: {"isCorrect": true, "errorType": null, "errorExplanation": null}
---
Example 13 | Prompt: What is the maximum response time for emergency calls in the city of Los Angeles?
Generated SQL: SELECT MAX(response_time) FROM Emergency_Calls WHERE city = 'Los Angeles';
Reference SQL: SELECT MAX(response_time) FROM emergency_calls WHERE city = 'Los Angeles';
Evaluation: {"isCorrect": true, "errorType": null, "errorExplanation": null}
---
Example 14 | Prompt: What is the total number of police patrols and community engagement events in each district in January 2021?
Generated SQL: SELECT district, COUNT(*) as total_events FROM police_patrols WHERE date BETWEEN '2021-01-01' AND '2021-01-31' GROUP BY district;
Reference SQL: SELECT d.name, SUM(IF(p.type = 'Patrol', 1, 0)) as num_patrols, SUM(IF(p.type = 'Community', 1, 0)) as num_community FROM districts d JOIN patrols p ON d.id = p.district_id WHERE p.date >= '2021-01-01' AND p.date < '2021-02-01' GROUP BY d.id;
Evaluation: {"isCorrect": false, "errorType": "incomplete", "errorExplanation": "The query only counts police patrols and does not include community engagement events."}
---
Example 14 | Prompt: What is the total number of police patrols and community engagement events in each district in January 2021?
Generated SQL: SELECT district, COUNT(*) as total_events FROM police_patrols WHERE date BETWEEN '2021-01-01' AND '2021-01-31' GROUP BY district;
Reference SQL: SELECT d.name, SUM(IF(p.type = 'Patrol', 1, 0)) as num_patrols, SUM(IF(p.type = 'Community', 1, 0)) as num_community FROM districts d JOIN patrols p ON d.id = p.district_id WHERE p.date >= '2021-01-01' AND p.date < '2021-02-01' GROUP BY d.id;
Evaluation: {"isCorrect": false, "errorType": "incomplete", "errorExplanation": "The query only counts police patrols and does not include community engagement events."}
---
Example 15 | Prompt: What is the average cybersecurity contract value?
Generated SQL: SELECT AVG(value) FROM cybersecurity_contract_values;
Reference SQL: SELECT AVG(value) as avg_value FROM contracts WHERE category = 'Cybersecurity';
Evaluation: {"isCorrect": false, "errorType": "logic_error", "errorExplanation": "No filtering for cybersecurity contracts or correct table schema; selection from an unknown table"}
---
Example 15 | Prompt: What is the average cybersecurity contract value?
Generated SQL: SELECT AVG(value) FROM cybersecurity_contract_values;
Reference SQL: SELECT AVG(value) as avg_value FROM contracts WHERE category = 'Cybersecurity';
Evaluation: {"isCorrect": false, "errorType": "logic_error", "errorExplanation": "No filtering for cybersecurity contracts or correct table schema; selection from an unknown table"}
---
Example 16 | Prompt: Delete arms_imports table records where year is before 2000
Generated SQL: DELETE FROM arms_imports WHERE year < 2000;
Reference SQL: DELETE FROM arms_imports WHERE year < 2000;
Evaluation: {"isCorrect": true, "errorType": null, "errorExplanation": null}
---
Example 16 | Prompt: Delete arms_imports table records where year is before 2000
Generated SQL: DELETE FROM arms_imports WHERE year < 2000;
Reference SQL: DELETE FROM arms_imports WHERE year < 2000;
Evaluation: {"isCorrect": true, "errorType": null, "errorExplanation": null}
---
Example 17 | Prompt: What is the average number of military personnel per country involved in peacekeeping operations?
Generated SQL: SELECT AVG(num_personnel) FROM military_personnel WHERE country IN ('France', 'United Kingdom', 'China');
Reference SQL: SELECT AVG(military_personnel) FROM Peacekeeping_Operations;
Evaluation: {"isCorrect": false, "errorType": "incomplete", "errorExplanation": "The query restricts to only three hardcoded countries instead of including all countries involved in peacekeeping operations."}
---
Example 17 | Prompt: What is the average number of military personnel per country involved in peacekeeping operations?
Generated SQL: SELECT AVG(num_personnel) FROM military_personnel WHERE country IN ('France', 'United Kingdom', 'China');
Reference SQL: SELECT AVG(military_personnel) FROM Peacekeeping_Operations;
Evaluation: {"isCorrect": false, "errorType": "incomplete", "errorExplanation": "The query restricts to only three hardcoded countries instead of including all countries involved in peacekeeping operations."}
---
Example 18 | Prompt: What is the maximum daily investment for each client?
Generated SQL: SELECT client_id, MAX(investment) as max_daily_investment FROM clients GROUP BY client_id;
Reference SQL: SELECT client_id, MAX(investment) OVER (PARTITION BY client_id ORDER BY client_id) as max_daily_investment FROM daily_investments;
Evaluation: {"isCorrect": false, "errorType": "logic_error", "errorExplanation": "Does not aggregate by day first and computes max over single transactions from the clients table instead of daily sums"}
---
Example 18 | Prompt: What is the maximum daily investment for each client?
Generated SQL: SELECT client_id, MAX(investment) as max_daily_investment FROM clients GROUP BY client_id;
Reference SQL: SELECT client_id, MAX(investment) OVER (PARTITION BY client_id ORDER BY client_id) as max_daily_investment FROM daily_investments;
Evaluation: {"isCorrect": false, "errorType": "logic_error", "errorExplanation": "Does not aggregate by day first and computes max over single transactions from the clients table instead of daily sums"}
---
Example 19 | Prompt: List the ports with their total cargo weight for 'Fruit' type from the 'CARGO_HANDLING' table.
Generated SQL: SELECT ports.name, SUM(cargo.weight) FROM ports INNER JOIN cargo ON ports.id = cargo.port_id WHERE cargo.type = 'Fruit' GROUP BY ports.name;
Reference SQL: SELECT P.PortName, SUM(CH.Weight) FROM PORTS P JOIN CARGO_HANDLING CH ON P.ID = CH.PortID WHERE CH.CargoType = 'Fruit' GROUP BY P.PortName;
Evaluation: {"isCorrect": false, "errorType": "logic_error", "errorExplanation": "Query uses wrong table names (cargo instead of CARGO_HANDLING) and unnecessary join to ports"}
---
Example 19 | Prompt: List the ports with their total cargo weight for 'Fruit' type from the 'CARGO_HANDLING' table.
Generated SQL: SELECT ports.name, SUM(cargo.weight) FROM ports INNER JOIN cargo ON ports.id = cargo.port_id WHERE cargo.type = 'Fruit' GROUP BY ports.name;
Reference SQL: SELECT P.PortName, SUM(CH.Weight) FROM PORTS P JOIN CARGO_HANDLING CH ON P.ID = CH.PortID WHERE CH.CargoType = 'Fruit' GROUP BY P.PortName;
Evaluation: {"isCorrect": false, "errorType": "logic_error", "errorExplanation": "Query uses wrong table names (cargo instead of CARGO_HANDLING) and unnecessary join to ports"}
---
Example 20 | Prompt: What is the minimum fuel consumption of container ships built in 2016, grouped by container type?
Generated SQL: SELECT type, MIN(fuel_consumption) FROM container_ships WHERE year = 2016 GROUP BY type;
Reference SQL: SELECT container_type, MIN(fuel_consumption) FROM container_ships WHERE year = 2016 GROUP BY container_type;
Evaluation: {"isCorrect": true, "errorType": null, "errorExplanation": null}
---
Example 20 | Prompt: What is the minimum fuel consumption of container ships built in 2016, grouped by container type?
Generated SQL: SELECT type, MIN(fuel_consumption) FROM container_ships WHERE year = 2016 GROUP BY type;
Reference SQL: SELECT container_type, MIN(fuel_consumption) FROM container_ships WHERE year = 2016 GROUP BY container_type;
Evaluation: {"isCorrect": true, "errorType": null, "errorExplanation": null}
---
Example 21 | Prompt: Which rural areas have the highest prevalence of asthma in children?
Generated SQL: SELECT r.name, r.adults.age, r.adults.children.age, r.adults.children.children.children.children.diagnosis_date, COUNT(*) FROM rural_areas r INNER JOIN asthma_children asthma ON r.area_id = asthma.area_id INNER JOIN asthma_children asthma_children ON asthma.area_id = asthma_children.area_id WHERE r.diagnosis = 'Asthma' GROUP BY r.name, r.adults.age, r.adults.children.age, r.ad
Reference SQL: SELECT county, state, AVG(prevalence) AS avg_prevalence FROM asthma WHERE age < 18 AND county LIKE '%rural%' GROUP BY county, state ORDER BY avg_prevalence DESC LIMIT 10;
Evaluation: {"isCorrect": false, "errorType": "logic_error", "errorExplanation": "The query does not compute prevalence (it only counts asthma cases), uses incorrect joins and unrelated columns, and fails to rank areas by child asthma rates."}
---
Example 21 | Prompt: Which rural areas have the highest prevalence of asthma in children?

In [ ]:
# Save the results to a file
import json
with open("pipeline_evaluation_results.json", "w") as f:
    json.dump(pipeline_results_full, f, indent=2)
# Print the number of examples evaluated
print(f"Total examples evaluated: {len(pipeline_results_full)}")